*.log
*.pyc
*.txt
!requirements.txt
*.bck

!data/
data/*
!data/mat/
!data/annotation/
!data/fasta/
!data/pdb_fasta/
!data/loops/

my_lib/DSSR/

!my_lib/RNAMotifScanX-release/
my_lib/RNAMotifScanX-release/*
!my_lib/RNAMotifScanX-release/mat/
!my_lib/RNAMotifScanX-release/thirdparty/
!my_lib/RNAMotifScanX-release/models/
!my_lib/RNAMotifScanX-release/bin/
!my_lib/RNAMotifScanX-release/pdb/
!my_lib/RNAMotifScanX-release/scripts/
!my_lib/RNAMotifScanX-release/data/
!my_lib/RNAMotifScanX-release/README
!my_lib/RNAMotifScanX-release/set_env.sh

